.title {
    text-align: center;
    font-size: 50px;
  
}


.butt-container .butt {
    
    
    text-align: center;
    background-color: darkblue;
    transition-duration: 0.4s;
    color: white;
    padding:15px 30px;
    display: list-item;
    font-size: 10px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    

    
}

.butt-container .butt:hover {
    
    text-align: match-parent;
    text-decoration: none;
    background-color: cornflowerblue;
    display: match-parent;
    font-size: match-parent;
    padding: match-parent;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
    
    
}

a {
    font-size: 30px;
    font-weight: bolder;
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

html {
    max-width: 500px;
    margin: auto;
    padding: 25px 50px 75px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: inline;
  } 
  
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
  }